

@model AracProje.Models.Entity.TBL_YONETMELIKLER

@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/LayoutAdminPanel.cshtml";
}


@using (Html.BeginForm("Guncelle", "AdminAITMYönetmeligi", FormMethod.Post))
{
  
        <div class="form-group" style="margin-top:15px">
            @Html.LabelFor(x => x.ID, new { @class = "form-control" })
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.YONETMELIKADI, new { @class = "form-control" })
            @Html.TextBoxFor(x => x.YONETMELIKADI, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.ACIKLAMA, new { @class = "form-control" })
            @Html.TextAreaFor(x => x.ACIKLAMA, new { @class = "form-control" })
        </div>


        <div>
            <button class="btn btn-success"> Güncelle</button>
        </div>

   
}
